<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Show post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <!--<h5>Profile</h5>-->
    <div class="card">
        <div class="card-body">
            <div th:each="post : ${post}">
                <Span th:text="${post.postDate}"></Span><br/>
                <Span th:text="${post.postMessage}"></Span><br />
                <img class="img-rounded" th:src="${post.postImageUrl}" alt="Post image" style="width:400px"/><br/>
                <Span th:text="${post.likeCount}"> </Span><a th:href="@{/likepost/{id} (id=${post.id})}" sec:authorize="isAuthenticated()"> likes</a>
                <Span th:text="${post.commentCount}"></Span> <Span><a th:href="@{/commentonpost/{id} (id=${post.id})}"> comments</a></Span><br />

                <!--<Span><a th:href="@{/edituserprofile/{id} (id=${user.id})}">Edit profile</a></Span><br />-->
                <div style="indent-edge-reset: content-edge">
                    <!--<p th:inline="text">[[${commentedby}]]</p>-->
                    <div th:each="comment : ${comment}">
                        <Span th:text="${comment.user.username}"></Span><br/>
                        <Span th:text="${comment.commentDate}"></Span><br/>
                        <Span th:text="${comment.commentMessage}"></Span><br/>
                    </div>
                </div>
            </div><br/>

        </div>
    </div>
</div>

</body>
</html>